
body{
    background:#f6f0f096;
}
.admin-root {
    margin-top: 48px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin-datatable-view {
    /* background: red; */
}

.admin-datatable-view .p-datatable .p-datatable-thead > tr > th {
    font-size: 70%;
}


.admin-datatable-view .p-datatable .p-datatable-tbody > tr > td {
    font-size: 68%;
}

.admin-datatable-view .p-datatable .p-button {

   
}



.admin-datatable-view .p-datatable .aprove-action {
    padding: 7px 14px;
    font-size: 95%;
    color: #ffffff;
    background: #6366F1;
    border: 1px solid #6366F1;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 5px;
}

.admin-datatable-view .p-datatable .reject-action {
    padding: 7px 14px;
    font-size: 95%;
    color: #ffffff;
    background: #f44336;;
    border: 1px solid #f44336;;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 5px;
}   

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.p-progress-spinner-svg {
    animation: p-progress-spinner-rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 670px;
}