.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #fac290;
  color: #2827279e;
}

.capitalize {
  text-transform: capitalize;
}
.loginButton {
  background-color: #8b6c52 !important;
  color: #fff !important;
}
/*Banner CSS*/
.bannerContent {
  xbackground: peachpuff;
  /*Gray Banner*/
  background: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) 100%;
  margin-top: 8px;
}
.bannerContent .image1{
  background: url("./Components/Buy/stroller.png") no-repeat 50% 50%;
  height: 250px;
  padding: 50px 0;
}
.bannerContent .image2{
  background: url("./Components/Buy/highchair.png") no-repeat 50% 50%;
  height: 250px;
  padding: 50px 0;
}
.bannerContent .image3{
  background: url("./Components/Buy/jump.png") no-repeat 50% 50%;
  height: 250px;
  padding: 50px 0;
}
.bannerText .heading{
  font-family: cursive;
  font-size: 28px;
  color: brown;
}
.bannerText {
  text-align: center;
  margin-top: 70px;
}
.bannerText a {
  text-decoration: none;
}
.bannerText > span {
  display: block;
  font-size: 18px;
  padding:15px 0;
}
/*Categories CSS*/
.Categories {
  /*skyblue banner*/
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY25zFbP_n9wPBHoH_XD_uMhQZpWIN-o27uQ&usqp=CAU") 60% 60%;
  margin: 3px 0 10px;
  padding-bottom: 25px;
}
.categoriesRow {
  padding-top: 25px;
}
.Categories h1 {
  text-align: center;
  margin-top: 2px;
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.categoryImage {
  height: 180px;
  width: 180px;
  border-radius: 180px;
  margin: auto;
  cursor: pointer;
}
.categoryImage img{
  margin: 15px;
}
.Categories h2 {
  width: 180px;
  margin: auto;
  text-align: center;
  /* text-transform: uppercase;
  font-weight: 500; */
}
.categoryImage.carSeatImage {
  background: #efefcad9;
}
.categoryImage.bathImage {
  background: #8fce8f8c;
}
.categoryImage.cribImage {
  background: #efcccc;
}
.categoryImage.highChairImage {
  background: #d3a6d6c9;
}
.categoryImage.safetyImage {
  background: #289ece5c;
}
.categoryImage.strollerImage {
  background: #d2d2d2cf;
}

/*Buy List CSS*/
.buyPriceWrap, .rentPriceWrap {
  display: flex;
  justify-content: space-between;
}
.filteredBuyList .productImage {
  height: 150px;
  width: 150px;
}
.priceWrap span:nth-child(2){
  font-weight: bold;
}
.priceWrap, .rentPriceWrap .priceWrap{
  color: #8b6c52;
  font-size: 1.12em;
}
.priceWrap span:nth-child(2), .rentPriceWrap span:nth-child(2) {
  display: inline-block;
  margin-left: 10px;
}
.notAvailable {
  font-size: 0.8em;
  color: #8b6c52;
}
.filteredBuyList .productName {
  font-size: 1.1em;
  font-weight: normal;
  margin: 10px 0;
  min-height: 42px;
  xcolor: #80bfcd;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* Product Details Page*/
.productDetails {
  margin-top: 30px;
}
.productDetails .productName {
  color: #77624f;
  text-transform: capitalize;
  margin: 0;
  padding: 10px 0;
}
.productDetails .productPrice {
  padding: 20px;
  border-bottom: 1px solid #ded5df;
  margin-bottom: 10px;
  background: #f6eef9;
  border-left: 1px solid #ded5df;
  border-right: 1px solid #ded5df;
}
.productDetails .productPrice span {
  width: 25%;
  display: inline-block;
}
.productDetails .productPrice span:nth-child(2) {
  font-weight: bold;
}
.productDetails .productPrice button span{
  width: 100%;
}
.editDetails {
  margin: 0 5px;
  color: #47aae4;
  text-decoration: underline;
  cursor: pointer;
}
/* .productDetails .productPrice button.addToCart {
  background-color: transparent;
  color: #f50057;
  border: 1px solid #f50057;
} */
.productRentPriceWrap {
  padding: 20px;
  border-bottom: 1px solid #ded5df;
  margin-bottom: 10px;
  background: #f6eef9;
  border-left: 1px solid #ded5df;
  border-right: 1px solid #ded5df
}
.rentDetails div {
  padding: 10px;
}
.rentDetails div span:first-child {
  display: inline-block;
  width: 30%;
}
.boldText {
  font-weight: bold;;
}
.productRentPriceWrap > span{
  display: block;
  padding-bottom: 20px;
}
.productRentPriceWrap .MuiTypography-subtitle1 {
  font-size: 0.8em;
}
.productRentPriceWrap .materialui-daterange-picker-makeStyles-daysContainer-16,
.productRentPriceWrap .materialui-daterange-picker-makeStyles-daysContainer-19 {
  margin-bottom: 5px;
}
.productRentPriceWrap .materialui-daterange-picker-makeStyles-header-4,
.productRentPriceWrap .materialui-daterange-picker-makeStyles-header-7 {
  padding: 5px 40px;
}
.productRentPriceWrap .materialui-daterange-picker-makeStyles-dateRangePicker-5,
.productRentPriceWrap .materialui-daterange-picker-makeStyles-dateRangePicker-2 {
  width: 445px;
}
.productRentPriceWrap .materialui-daterange-picker-makeStyles-button-22,
.productRentPriceWrap .materialui-daterange-picker-makeStyles-button-68 {
  width: 25px;
  height: 25px;
}
.productRentPriceWrap .materialui-daterange-picker-makeStyles-buttonText-23,
.productRentPriceWrap .materialui-daterange-picker-makeStyles-buttonText-69 {
  font-size: 0.5em;
}
.productRentPriceWrap .MuiSelect-select.MuiSelect-select,
.productRentPriceWrap .materialui-daterange-picker-MuiSelect-select-23 {
  font-size: 0.8em;
}
.productRentPriceWrap .materialui-daterange-picker-makeStyles-root-14,
.productRentPriceWrap .materialui-daterange-picker-makeStyles-root-17 {
  width: 220px;
}
.materialui-daterange-picker-makeStyles-dateRangePickerContainer-1 ul,
.materialui-daterange-picker-makeStyles-dateRangePickerContainer-4 ul{
  display: none;
}
.productRentPriceWrap .materialui-daterange-picker-makeStyles-dateRangeBackdrop-3,
.productRentPriceWrap .materialui-daterange-picker-makeStyles-dateRangeBackdrop-6 {
  height: auto;
  position:relative
}
.productDetails .css-ovja5t-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: #f50557;
  background-color: rgba(156, 39, 176, 0.08);
  border-bottom: none;
}
.productDetails .buttonWrap {
  margin-top: 20px;
}
.productDetails .buttonWrap button {
  border: 1px solid #77624f;
  margin-right: 10px;
}
.deliveryDetails {
  padding: 10px 0 0;
}
.deliveryDetails span:first-child {
  color: #77624f;
}
.deliveryDetails > div {
  display: block;
  margin-top: 10px;
}
.deleveryAddressWrap .MuiCardContent-root {
  cursor: pointer;
  padding: 10px;
}
.css-46bh2p-MuiCardContent-root h6 {
  font-size: 1.1em;
    margin: 0 0 5px 0;
    font-weight: normal;
}
.DeliverAddresses .deleveryAddressWrap > div {
  padding: 10px;
}
.CheckCircleOutlineIcon {
  color: green;
}
.bottomBorder {
  border-bottom: 1px solid #77624f;
  margin-top:10px;
}
.productDetails h3 {
  margin: 20px 0 10px 0;
}
.productDetails .productGrid {
  padding: 5px 0;
}
.productDetails .productGrid span:first-child {
  width: 25%;
  display: inline-block;
}

/** Cart CSS **/
.myCart {
  padding-top: 30px;
}
.cartItemDetails {
  width: 100%;
}
.myCart h2 {
  color: #77624f;
  margin-bottom: 20px;
  width:100%;
}
.myCart h3 {
  font-weight: normal;
  margin: 5px 0;
}
.myCart h4 {
  background: #f6eef9;
  padding: 15px;
  font-weight: bold;
  margin: 0 0 15px 0;
  font-size: 18px;
  display: flex;
}
.DeliverAddresses {
  background: #f6eef9;
}
.myCart h4 span {
  display: inline-block;
  margin: 0 0 0 10px;
}
.myCart .link {
  color: #77624f;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
}
.cartItem {
  margin-bottom: 20px;
}
.cartItemDetails span {
  display: block;
  font-size: 0.9em;
  margin-top: 10px;
  color: gray;
}
.cartItem .link {
  color: #77624f;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 20px;
}
.myCartLeftGrid {
  border-right: 1px solid #77624f;
}
.myCartRightGrid {
  padding: 0 20px !important;
}
.myCartRightGrid > div {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  padding-bottom: 20px;
}
.myCartRightGrid > div:last-child {
  font-weight: bold;
}
.cartItem img {
  border: 1px solid #77624f;
}
.cartItem .materialui-daterange-picker-makeStyles-dateRangePicker-5, .cartItem .materialui-daterange-picker-makeStyles-dateRangePicker-2 {
  width: 585px;
}
.cartItemDetails .cartRentalDetails, .cartRentalDetails .rentalDateIconWrap {
  display: flex;
}
.cartRentalDetails svg {
  margin: 10px 0 0 10px;
  cursor: pointer;
}
.editRentalChanges {
  font-size: 14px !important;
  color: white;
  border: 1px solid #77624f;
  border-radius: 13px;
  background: #8f7e73;
  padding: 1px;
}
.applyRentalChange {
  color: green;
  font-size: 20px !important;
}
.cancelRentalChange {
  color: red;
  font-size: 20px !important;
}
.cartItemPrice {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}
.cartShipment span{
  display: inline-block;
}
.cartShipment .changeShipping {
  text-decoration: underline;
  cursor: pointer;
  text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
    color: #7a6653;
}
.myCart .buttonWrap {
  justify-content: center;
}
.myCart .buttonWrap button {
  width: 60%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textAlignCenter {
  text-align: center;
}

@media (max-width:600px){
  .materialui-daterange-picker-makeStyles-dateRangePicker-5 .MuiGrid-root.MuiGrid-container.MuiGrid-wrap-xs-nowrap.MuiGrid-justify-content-xs-center,
  .materialui-daterange-picker-makeStyles-dateRangePicker-2 .MuiGrid-root.MuiGrid-container.MuiGrid-wrap-xs-nowrap.MuiGrid-justify-content-xs-center {
    flex-wrap: wrap;
  }
  .materialui-daterange-picker-makeStyles-dateRangePicker-5 ul.MuiList-root.MuiList-padding,
  .materialui-daterange-picker-makeStyles-dateRangePicker-2 ul.MuiList-root.MuiList-padding {
    display: none;
  }
  .MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .MuiContainer-root.filteredBuyList, .bannerText, .MuiContainer-root.productDetails {
    padding: 0 10px !important;
  }
  .cartItem h3 {
    margin-bottom: 10px;
    font-size: 1em;
    margin-top: 0;
  }
  .myCartLeftGrid {
    padding: 0 15px;
    border-right: 0;
  }
  .cartItem {
    margin-bottom: 30px;
  }
}
